*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Raleway', sans-serif;
}

html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #333;

}

.dias{
    color: #fff;
    display: flex;
    justify-content: center;
    border: 2px solid #333;
    flex-wrap: wrap;
}

.dias .seg{

    padding: 20px;
    border: 1px black solid;
    width: 120%;
    margin-bottom: 20px;
    border-radius: 20px;
}


.dias h1{
    text-align: center;
    margin: 20px;
    color: #ffafcc;
}

.dias li{
    text-align: left;
    padding: 5px;
}

.dias b{
    color: #ffafcc;
}

#icone{
    margin-left: 95%;
}

#icone i{
    color: white;
}

#icone i:hover{
    color: #ffafcc;
    transform: rotateX(160deg);
}

.sec{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    color: #ffafcc;
}

.sec h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.sec h2{
    color: #fff;
    margin-top: 10px;
}
.sec p{
    margin: 10px;
    color: #fff;

}

.sec a{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 10px;
}

.sec a:hover{
    color: #ffafcc;
}

.sec img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 2s;

    border: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 8px 2px black;
    animation: amy 8s infinite alternate-reverse ease-in;
    margin-top: 20px;
}

@keyframes amy {
    50%{
        transform: rotateY(190deg);
    }
}

.autor{
font-size: 15px;
color: white;
}
